<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :kanban_column_id, style: "display: block" %>
    <%= form.select :kanban_column_id, [["A Fazer", 1], ["Em Progresso", 2], ["Concluído", 3]], {}, {:class=>"form-control"}%>
  </div>

  <div>
    <%= form.label :order, style: "display: block" %>
    <%= form.text_field :order %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
