<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="form-group">
      <%= form.label "Título da tarefa", { style: "display: block", class: "text-white" } %>
      <%= form.text_field :title, { class: "form-control bg-dark text-white" } %>
    </div>

    <div class="form-group">
      <%= form.label "Descrição", { style: "display: block", class: "text-white" } %>
      <%= form.text_field :description, { class: "form-control bg-dark text-white"} %>
    </div>

    <%= form.hidden_field :kanban_column_id, value: KanbanColumn.order(:position).first.id %>

    <%= form.hidden_field :order, value: task.order %>

    <div class="form-group mt-2">
      <%= form.submit class: "btn btn-warning" %>
    </div>
  </div>

<% end %>
