<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Título da tarefa", style: "display: block" %>
    <%= form.text_field :title, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label "Descrição", style: "display: block" %>
    <%= form.text_field :description, {class: "form-control"} %>
  </div>
    <%= form.hidden_field :kanban_column_id, value: KanbanColumn.order(:position).first().id %>
  
    <%= form.hidden_field :order, value: task.order %>

  <div class="form-group">
    <%= form.submit "Atualizar tarefa", { class: "btn btn-primary"} %>
  </div>
<% end %>
