<p style="color: green"><%= notice %></p>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-white text-center">Lista de tarefas</h1>
    </div>
  </div>
  <div class="row mt-3">
    <% @column.each_with_index do |column, index| %>
      <div class="col">
        <div class="card bg-dark">
          <div class="card-header <%= if column.position == 1
                                      "bg-primary text-dark"
                                    elsif @column.length-1 == index
                                      "bg-success text-dark"
                                    else "bg-warning text-dark"
                                    end %>">
          <%= link_to column.name, column, { id: column.id, class: "text-white" } %>
          </div>
          <ul class="list-group list-group-flush" data-controller="sortable" id=<%= column.id %>>
            <% @tasks.each do |task| %>
              <% if task.kanban_column_id == column.id %>
                <li class="list-group-item bg-dark">
                  <%= link_to task.title, task, { id: task.id, class: "text-white link-underline link-underline-opacity-0" } %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
