<p style="color: green"><%= notice %></p>

<div class="container">
  <%= render @task %>
  <div>
    <%= link_to "Editar essa tarefa", edit_task_path(@task), class: "btn btn-primary text-white fs-8" %>
    <%= link_to "Voltar para tarefas", tasks_path, class: "btn btn-primary text-white fs-8" %>

    <%= button_to "Apagar essa tarefa", @task, method: :delete, class: "btn btn-danger text-white fs-8 mt-2" %>
  </div>
</div>