<%= form_with(model: kanban_column) do |form| %>
  <% if kanban_column.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(kanban_column.errors.count, "error") %> prohibited this kanban_column from being saved:</h2>

      <ul>
        <% kanban_column.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="form-group">
      <%= form.label "Nome da coluna", { style: "display: block", class: "text-white", for: "kanban_column_name" } %>
      <%= form.text_field :name, { class: "form-control bg-dark text-white" } %>
    </div>

    <div class="form-group">
      <%= form.label "Posição da coluna", { style: "display: block", class: "text-white", for: "kanban_column_position" } %>
      <%= form.text_field :position, { class: "form-control bg-dark text-white"} %>
      <div class="form-text text-white">
        Se o valor da posição da coluna for maior do que o de todas as outras colunas, então essa coluna será colocada na última posição na ordem das colunas.
      </div>
    </div>
    <div class="form-group mt-2">
      <%= form.submit class: "btn btn-warning" %>
    </div>
  </div>
<% end %>
