<p style="color: green"><%= notice %></p>

<div class="container">
  <% if flash[:error].present? %>
    <div class="alert alert-error bg-danger text-white">
      <%= flash[:error] %>
    </div>
  <% end %>
  <%= render @kanban_column %>
  <div>
    <%= link_to "Editar essa coluna", edit_kanban_column_path(@kanban_column), class: "btn btn-primary text-white fs-8"%>
    <%= link_to "Voltar para colunas", kanban_columns_path, class: "btn btn-primary text-white fs-8" %>

    <%= button_to "Apagar essa coluna", @kanban_column, method: :delete, class: "btn btn-danger text-white fs-8 mt-2"%>
    <div class="form-text text-white fs-6">
    Para exclusão bem-sucedida desta coluna, é necessário que todas as tarefas associadas a ela tenham sido previamente removidas.
    </div>
  </div>
</div>